@charset "UTF-8";

        body{
            background-color: rgb(255, 222, 150);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1{
            color: rgb(255, 100, 11);
            background-color: rgb(233, 162, 30);
        }
        h2{
            color: brown;
        }
        p{
            text-align: justify;
        }
    